.reseaux_sociaux{

	padding: 20px;
	margin: 20px 0px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	text-align: center;
	text-align: right;
	background-color:#B9EDDD;
	

	
}

.reseaux_sociaux img{

	width: 40px;
 	height: 40px;
 	margin-left:20px ;




}